{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block text_header %}
<h1>
    Profile of {{request.user.username}}
</h1>
{% endblock text_header %}

{% block function %}
<div class='profile-view'>
    <ul>
        <li><b>Name:</b> {{request.user.first_name}}</li>
        <li><b>Last Name:</b> {{request.user.last_name}}</li>
        <li><b>Email:</b> {{request.user.email}}</li>
        <li>
            <p><b>Avatar:</b></p>
            {% if request.user.masdatosusuario.avatar %}
            <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="200px">
            {% endif %}
        </li>
    </ul>
</div>
<div>
    <a href={% url 'edit_profile' %}>Edit my profile</a>
</div>
{% endblock function %}