body {
  margin: 0;
}

.nav {
  background-color: #012030;
  font-size: 18px; 
}

.center {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.container {
  padding-top: 4.1%;
}