{% extends 'base.html' %}

{% block title %}
<title>Create Team</title>
{% endblock title %}

{% block text_header %}
<h1>It's time to creat your own team!</h1>
{% endblock text_header %}

{% block function %}
<div class="create-team">
    <form action={% url 'create_team' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button id="team-button">Create</button>
    </form>
</div>
{% endblock function %}