{% extends 'base.html' %}

{% block title %}
<title>Edit team</title>
{% endblock title %}

{% block text_header %}
<h1>Edit the team</h1>
{% endblock text_header %}

{% block function %}
<p>
    <a href={% url 'teams_list' %}>Volver</a>
</p>
<div class="edit-team">
    <form action={% url 'edit_team' team.id %} method="post">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Edit</button>
    </form>
</div>
{% endblock function %}